# üß† Predicci√≥n de Riesgo de Cr√©dito ‚Äì German Credit Dataset

## üìå Contexto del problema

Cuando un banco recibe una solicitud de pr√©stamo, debe decidir si aprueba o no el cr√©dito con base en el perfil del solicitante. Existen dos tipos de riesgo:

- Si el solicitante es un **buen riesgo crediticio** (es decir, probablemente pagar√°), y se **rechaza** su solicitud, el banco **pierde una oportunidad de negocio**.
- Si el solicitante es un **mal riesgo crediticio** (es decir, probablemente no pagar√°), y se **aprueba** su solicitud, el banco **asume una p√©rdida financiera**.

Este dataset incluye 1000 registros con 20 variables predictoras, adem√°s de la clasificaci√≥n `Creditability` (bueno o malo), que es lo que intentaremos predecir.

---
## üï∞Ô∏è Consideraciones hist√≥ricas y monetarias

Este dataset fue recolectado antes de la adopci√≥n del euro (‚Ç¨) como moneda oficial en Alemania. Por lo tanto:

- Todas las cantidades monetarias (como `Credit_Amount`, `Savings/Stocks`, etc.) est√°n expresadas en **marcos alemanes (Deutsche Mark, DM)**.
- Alemania cambi√≥ al euro en el a√±o **2002**, y el tipo de cambio final fue:
  > **1 EUR = 1.95583 DM**

Aunque no es necesario convertir las cantidades a euros para el an√°lisis (ya que se trabajar√° con modelos relativos), **es importante tener presente este contexto**:

- Las cifras no representan montos actuales.
- Los rangos de ingreso, empleo y ahorro deben interpretarse en relaci√≥n al est√°ndar de vida en Alemania antes del 2002.
- Este detalle puede influir en la interpretaci√≥n del poder adquisitivo y la clasificaci√≥n del riesgo crediticio en su momento.

üîé *Conclusi√≥n: trabajaremos con las cifras tal como est√°n, pero entendiendo que no corresponden al valor monetario moderno.*

---

## üßæ Diccionario completo de variables 

- `Creditability`: Variable objetivo.  
  1 = Buen riesgo crediticio  
  0 = Mal riesgo crediticio

- `Account_Balance`: Estado de la cuenta bancaria  
  1 = Sin cuenta  
  2 = Menos de 0 DM  
  3 = Entre 0 y 200 DM  
  4 = M√°s de 200 DM o salario recibido por transferencia

- `Duration_of_Credit_monthly`: Duraci√≥n del cr√©dito en meses (variable num√©rica)

- `Payment_Status_of_Previous_Credit`: Estado de pagos anteriores  
  0 = Ninguno / sin historial  
  1 = Retrasos o problemas cr√≠ticos  
  2 = Demoras leves o espor√°dicas  
  3 = Pagos al d√≠a  
  4 = Sin deudas

- `Purpose`: Motivo del cr√©dito  
  0 = No especificado  
  1 = Carro nuevo  
  2 = Usado  
  3 = Muebles  
  4 = Radio/televisi√≥n  
  5 = Electrodom√©sticos  
  6 = Reparaciones  
  8 = Vacaciones  
  9 = Renovaciones  
  10 = Educaci√≥n

- `Credit_Amount`: Monto del cr√©dito solicitado (en Deutsche Mark - DM)

- `Value_Savings_Stocks`: Valor de ahorros/inversiones  
  1 = Ninguno  
  2 = Menos de 100 DM  
  3 = Entre 100 y 500 DM  
  4 = Entre 500 y 1000 DM  
  5 = M√°s de 1000 DM

- `Length_of_current_employment`: Antig√ºedad laboral  
  1 = Desempleado / <1 a√±o  
  2 = 1 a <4 a√±os  
  3 = 4 a <7 a√±os  
  4 = 7 a <10 a√±os  
  5 = M√°s de 10 a√±os

- `Instalment_per_cent`: Porcentaje de la cuota mensual respecto al ingreso (valor entre 1 y 4)

- `Sex_Marital_Status`: G√©nero y estado civil  
  1 = Hombre soltero/divorciado  
  2 = Hombre casado/viudo  
  3 = Mujer soltera  
  4 = Mujer casada

- `Guarantors`: Avales  
  1 = Ninguno  
  2 = C√≥nyuge  
  3 = Otro garante

- `Duration_in_Current_address`: Tiempo en a√±os en la residencia actual

- `Most_valuable_available_asset`: Bien m√°s valioso disponible  
  1 = Auto propio  
  2 = Seguro de vida  
  3 = Bien inmueble  
  4 = Ninguno

- `Age_years`: Edad del solicitante (a√±os)

- `Concurrent_Credits`: Otros cr√©ditos activos  
  1 = Ninguno  
  2 = Tiendas  
  3 = Otros bancos

- `Type_of_apartment`: Tipo de vivienda  
  1 = Alquilada  
  2 = Propia  
  3 = Sin costo

- `No_of_Credits_at_this_Bank`: N√∫mero de cr√©ditos actuales con el banco

- `Occupation`: Ocupaci√≥n  
  1 = Desempleado / no calificado  
  2 = Obrero calificado  
  3 = Empleado / funcionario  
  4 = Aut√≥nomo / alta calificaci√≥n

- `No_of_dependents`: N√∫mero de personas a cargo (1 o 2)

- `Telephone`: Tel√©fono registrado  
  1 = No  
  2 = S√≠

- `Foreign_Worker`: ¬øEs trabajador extranjero?  
  1 = S√≠  
  2 = No

---

## üìö Fuente y referencia

Este dataset es parte del curso *Stat 508* de Penn State University.  
üìé [Documentaci√≥n oficial del dataset](https://online.stat.psu.edu/stat508/resource/analysis/gcd)

In [4]:
# Librer√≠as principales
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Cargar dataset
df = pd.read_csv("../data/Credit_Data.csv", sep=';')

# üß© Analisis de los datos cargados

Despues de cargar los Datos procedemos a analizar los datos obtenidos del dataset con el fin de identificar si hay datos nulos o incompletos

In [5]:
df.head()

,Creditability,Account_Balance,Duration_of_Credit_monthly,Payment_Status_of_Previous_Credit,Purpose,Credit_Amount,Value_Savings_Stocks,Length_of_current_employment,Instalment_per_cent,Sex_Marital_Status,...,Duration_in_Current_address,Most_valuable_available_asset,Age_years,Concurrent_Credits,Type_of_apartment,No_of_Credits_at_this_Bank,Occupation,No_of_dependents,Telephone,Foreign_Worker
0,1,1,18,4,2,1049,1,2,4,2,...,4,2,21,3,1,1,3,1,1,1
1,1,1,9,4,0,2799,1,3,2,3,...,2,1,36,3,1,2,3,2,1,1
2,1,2,12,2,9,841,2,4,2,2,...,4,1,23,3,1,1,2,1,1,1
3,1,1,12,4,0,2122,1,3,3,3,...,2,1,39,3,1,2,2,2,1,2
4,1,1,12,4,0,2171,1,3,4,3,...,4,2,38,1,2,2,2,1,1,2

Inicialmente podemos evidenciar que se cargo el dataset de manera correcta evidenciando algunos datos y las 21 columnas que contiene

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Creditability                      1000 non-null   int64
 1   Account_Balance                    1000 non-null   int64
 2   Duration_of_Credit_monthly         1000 non-null   int64
 3   Payment_Status_of_Previous_Credit  1000 non-null   int64
 4   Purpose                            1000 non-null   int64
 5   Credit_Amount                      1000 non-null   int64
 6   Value_Savings_Stocks               1000 non-null   int64
 7   Length_of_current_employment       1000 non-null   int64
 8   Instalment_per_cent                1000 non-null   int64
 9   Sex_Marital_Status                 1000 non-null   int64
 10  Guarantors                         1000 non-null   int64
 11  Duration_in_Current_address        1000 non-null   int64
 12  Most_valuable_available_asset      1000 non-null   int64
 13  Age_years                          1000 non-null   int64
 14  Concurrent_Credits                 1000 non-null   int64
 15  Type_of_apartment                  1000 non-null   int64
 16  No_of_Credits_at_this_Bank         1000 non-null   int64
 17  Occupation                         1000 non-null   int64
 18  No_of_dependents                   1000 non-null   int64
 19  Telephone                          1000 non-null   int64
 20  Foreign_Worker                     1000 non-null   int64
dtypes: int64(21)
memory usage: 164.2 KB

Con esta funci√≥n logramos identificar en primer lugar que no hay datos vacios, es decir que todas las filas del dataset nos van a servir para el analis√≠s, por otro lado tenemos que todos los datos de las columnas son de tipo numerico, por lo tanto para su desarrollo vamos a seguir el diccionario que mostramos en la parte superior del documento.

In [7]:
df.describe()

,Creditability,Account_Balance,Duration_of_Credit_monthly,Payment_Status_of_Previous_Credit,Purpose,Credit_Amount,Value_Savings_Stocks,Length_of_current_employment,Instalment_per_cent,Sex_Marital_Status,...,Duration_in_Current_address,Most_valuable_available_asset,Age_years,Concurrent_Credits,Type_of_apartment,No_of_Credits_at_this_Bank,Occupation,No_of_dependents,Telephone,Foreign_Worker
count,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.00000,...,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.700000,2.577000,20.903000,2.54500,2.828000,3271.24800,2.105000,3.384000,2.973000,2.68200,...,2.845000,2.358000,35.54200,2.675000,1.928000,1.407000,2.904000,1.155000,1.404000,1.037000
std,0.458487,1.257638,12.058814,1.08312,2.744439,2822.75176,1.580023,1.208306,1.118715,0.70808,...,1.103718,1.050209,11.35267,0.705601,0.530186,0.577654,0.653614,0.362086,0.490943,0.188856
min,0.000000,1.000000,4.000000,0.00000,0.000000,250.00000,1.000000,1.000000,1.000000,1.00000,...,1.000000,1.000000,19.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,1.000000,12.000000,2.00000,1.000000,1365.50000,1.000000,3.000000,2.000000,2.00000,...,2.000000,1.000000,27.00000,3.000000,2.000000,1.000000,3.000000,1.000000,1.000000,1.000000
50%,1.000000,2.000000,18.000000,2.00000,2.000000,2319.50000,1.000000,3.000000,3.000000,3.00000,...,3.000000,2.000000,33.00000,3.000000,2.000000,1.000000,3.000000,1.000000,1.000000,1.000000
75%,1.000000,4.000000,24.000000,4.00000,3.000000,3972.25000,3.000000,5.000000,4.000000,3.00000,...,4.000000,3.000000,42.00000,3.000000,2.000000,2.000000,3.000000,1.000000,2.000000,1.000000
max,1.000000,4.000000,72.000000,4.00000,10.000000,18424.00000,5.000000,5.000000,4.000000,4.00000,...,4.000000,4.000000,75.00000,3.000000,3.000000,4.000000,4.000000,2.000000,2.000000,2.000000

Con esta funci√≥n ya aplicamos un poco mas de estadistica descritiva en donde encontramos el promedio de las variables junto a su desviaci√≥n estandar, ademas que los cuartiles donde podemos ver que tan dispersos estan los datos en los cuartiles descritos.

In [15]:
df.duplicated().sum()

0

Aqui nos damos cuenta que no tenemos ningun dato repetido dentro del dataset